
@font-face {
  font-family: 'Ardnas';
  src: url('Ardnas.eot?#iefix') format('embedded-opentype'),  url('Ardnas.woff') format('woff'), url('Ardnas.ttf')  format('truetype'), url('Ardnas.svg#Ardnas') format('svg');
  font-weight: normal;
  font-style: normal;
}
